.ImageWrapper img{
    max-width: 100%;
}

.CategoryCard {
  border: 1px solid #333333;
  padding: 20px;
  box-shadow: 1px 1px 3px 0px #1f1f1f;
  text-align: center;
  margin-bottom: 20px;
}

.CategoryCard a {
  text-decoration: none;
  color: var(--main-text);
}
.CategoryCard a:hover {
  color: var(--main-color);
}

.CategoryCard h3 {
  text-transform: uppercase;
}

@media screen and (min-width: 451px) and (max-width: 850px) {
  .CategoryWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .CategoryCard {
    margin: 0;
  }
}

@media screen and (min-width: 851px) {
  .CategoryWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .CategoryCard {
    margin: 0;
  }
}
