:root {
  --mobile: 450px;
  --tablet-upper: 850px;
  --desktop-lower: 851px;
  --main-color: #2fa5ff;
  --nav-hover: #4db2ff;
  --main-text: #333333;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

main {
  min-height: 60vh;
}
body.open {
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 80%;
  line-height: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small {
  line-height: 0;
  color: #cacaca;
}

h1,
.h1 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2,
.h2 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h3,
.h3 {
  font-size: 1.1875rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h4,
.h4 {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h5,
.h5 {
  font-size: 1.0625rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media print, screen and (min-width: 40em) {
  h1,
  .h1 {
    font-size: 3rem;
  }
  h2,
  .h2 {
    font-size: 2.5rem;
  }
  h3,
  .h3 {
    font-size: 1.9375rem;
  }
  h4,
  .h4 {
    font-size: 1.5625rem;
  }
  h5,
  .h5 {
    font-size: 1.25rem;
  }
  h6,
  .h6 {
    font-size: 1rem;
  }
}

img {
  max-width: 100%;
}

#search-icon-mobile {
  margin-left: auto;
}

.search-input {
  margin-bottom: 10px;
  position: relative;
}
.search-input input {
  padding: 10px;
  padding-left: 30px;
}
.search-input i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}

#price {
  max-width: 60px;
  padding: 10px;
  margin-left: 10px;
}

/* Login form styles*/
.login-form-container {
  max-width: 300px;
  margin: auto;
}

.login-form-container .error-div {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.login-form-container .error-div p {
  margin: 0;
}
#login-form button {
  border: 0;
  padding: 10px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}
#login-form button p {
  margin: 0;
}
#login-form button.red {
  background-color: red;
}
#login-form button.green {
  background-color: green;
}

#login-form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
/* End of Login form styles */

/* Admin page */
.logout-btn {
  /* float: right; */
  background: red;
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 20px;
  /* box-shadow: 1px 1px 6px 0px black; */
}

.add-new-product-container {
  max-width: 350px;
  margin: auto;
}

.add-new-product-container form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.add-new-product-container form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.add-new-product-container form button {
  padding: 10px;
  background-color: #2fa5ff;
  color: white;
  border: 0px;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
}

.add-new-product-container section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.add-new-product-container section i {
  color: green;
  font-size: 20px;
}

.add-new-product-container section h3 {
  margin: 0;
  margin-left: 10px;
}
/* End of admin page */

@media screen and (min-width: 850px) {
  #search-icon-mobile {
    display: none;
  }
  #search-icon {
    margin-left: auto;
    margin-right: 0;
  }
  .article-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
