.Header {
    padding: 20px 0;
}

.LogoWrapper {
    text-align: center;
}
.LogoWrapper img {
    width: 200px;
    height: auto;
    cursor: pointer;
}

.NavWrapper {
    background-color: #2FA5FF;
}
.Nav {
    max-width: 1000px;
    margin: auto;
}
.NavLink {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;   
}
.NavLink:hover {
    background-color: #4DB2FF;
}
.NavLink__active {
    background-color: #4DB2FF;
}