.LogoWrapper {
    text-align: center;
}
.LogoWrapper.Desktop {
    display: none;
}
.LogoWrapper.Mobile {
    display: block;
}
.LogoWrapper img {
    width: 100%;
    max-width: 200px;
    height: auto;
    cursor: pointer;
}

.NavWrapper {
    background-color: #2FA5FF;
}
.Nav {
    max-width: 1000px;
    margin: auto;
}
.NavLink {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;   
}
.NavLink:hover {
    background-color: #4DB2FF;
}
.NavLink__active {
    background-color: #4DB2FF;
}

@media screen and (min-width: 850px) {
    .Header {
        padding: 20px 0;
    }

    .LogoWrapper.Desktop {
        display: block;
    }
    .LogoWrapper.Mobile {
        display: none;
    }
}