.Menu {
  padding: 1rem;
  position: fixed;
  left: 0px;
  top: 50px;
  height: 100%;
  width: 200px;

  background-color: var(--main-color);
  /* border-right: 5px solid var(--color-gold, #000); */

  transition: transform 0.5s ease;
  z-index: var(--z-index-menu, 1000);

  display: flex;
  flex-direction: column;
}

.Menu.open {
  transform: translateX(0%);
}

.Menu.closed {
  transform: translateX(-100%);
}

.NavLink {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
  border-left: 3px solid transparent;
  margin-bottom: 10px;
}

.NavLink_active,
.NavLink:hover {
  color: white;
  border-left: 3px solid white;
}

/* You can use a CSS preprocessor to store breakpoint values in variables. */
@media only screen and (min-width: 850px) {
  .Menu {
    display: none;
  }
}
