footer {
  margin-top: 20px;
}

.FooterTop {
  background-color: #e6e6e6;
}

.FooterSectionWrapper {
  display: block;
}
.FooterSection:nth-child(3) {
    padding-bottom: 10px;
}

.FooterSection {
    padding-top: 10px;
}

.FooterSection h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.FooterSection p {
  margin: 5px 0;
}

.FooterBottomContainer {
  background-color: black;
  color: #bbbbbb;
  text-align: center;
  padding: 10px;
}

.FooterBottomContainer p {
  font-size: 14px;
  margin: 0;
}

.SMSection i {
  font-size: 25px;
  padding: 10px;
}
.SMSection a {
  margin-right: 10px;
}

.Instagram {
  color: orange;
}

.Facebook {
  color: blue;
}

.Youtube {
  color: red;
}

@media screen and (min-width: 850px) {
  .FooterSectionWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .FooterSection {
    padding: 20px;
  }
}
